<%- include('layouts/header.ejs'); -%>

<section class="message">
  <% if(message.length > 0) { %>
  <div class="alert alert-success"><%= message %></div>
  <% } %> <% if(error.length > 0) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %>
</section>

<section class="top-heading">
  <div
    class="p-5 text-center bg-image"
    style="background-image: url('assets/background-image.jpg'); height: 400px"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">LogNote</h1>
          <h4 class="mb-3">Effortlessly Track your Team Work</h4>
          <a
            class="btn btn-outline-light btn-lg mt-4"
            href="#notes"
            role="button"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-notes container" id="notes">
  <div class="row justify-content-center">
    <% notes.forEach(note => { %>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="card-note card mb-4 mx-2">
        <img
          class="card-img border-secondary"
          src="data:<%=note.imageType%>;base64, <%=note.imageData%>"
          alt="image"
        />
        <div class="card-body px-3">
          <div class="users-section fw-semibold mb-1">
            <!-- <div class="note-name fw-semibold"><%=note.project.name%></div> -->
            <h6 class="fw-semibold"><%=note.project.name%></h6>
          </div>
          <p class="card-text mb-2 fw-light"><%=note.project.description%></p>
          <p class="card-text mb-2 fw-light">note: <%=note.text%></p>
          <a href="<%=note.project.repository%>" target="_blank"
            ><u>Repository</u></a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<%- include('layouts/footer.ejs'); -%>
