<%- include('../layouts/header.ejs'); -%>

<section class="message">
  <% if(message.length > 0) { %>
  <div class="alert alert-success"><%= message %></div>
  <% } %> <% if(error.length > 0) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %>
</section>

<section class="text-center">
  <h2 class="mt-4 mb-4 fw-semibold">Note List</h2>
</section>

<section class="container">
  <a class="btn btn-dark" href="\notes\add">Create Note</a>
  <section class="table-responsive d-flex justify-content-center">
    <table class="table table-bordered text-center mt-2">
      <thead>
        <tr class="table-dark">
          <th>ID</th>
          <th>PROJECT</th>
          <th>TEXT</th>
          <th>IMAGE</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% if (notes.length) { %> <% notes.forEach(note => { %>
        <tr>
          <td><%= note.id %></td>
          <td><%= note.project.name %></td>
          <td><%= note.text %></td>
          <td>
            <img
              src="data:<%=note.imageType%>;base64, <%=note.imageData%>"
              class="img-thumbnail w-25"
              alt="image"
            />
          </td>
          <td>
            <a href="\notes\delete\<%=note.id%>"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
        <% }) %> <% } else {%>
        <tr>
          <td class="text-center" colspan="5">
            Notes are empty! Insert some data.
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </section>
</section>

<%- include('../layouts/script.ejs'); -%>
