<%- include('../layouts/header.ejs'); -%>

<section class="message">
  <% if(message.length > 0) { %>
  <div class="alert alert-success"><%= message %></div>
  <% } %> <% if(error.length > 0) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %>
</section>

<section class="text-center">
  <h2 class="my-4 fw-semibold">User List</h2>
</section>

<section class="container">
  <section class="d-flex justify-content-center">
    <table class="table table-bordered text-center mt-2">
      <thead>
        <tr class="table-dark">
          <th>ID</th>
          <th>NAME</th>
          <th>USERNAME</th>
          <th>POSITION</th>
          <th>PHONE</th>
          <th>EMAIL</th>
          <th>ADDRESS</th>
          <th>ROLE</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% if (users.length) { %> <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= user.profile.position %></td>
          <td><%= user.profile.phone %></td>
          <td><%= user.profile.email %></td>
          <td><%= user.profile.address %></td>
          <td><%= user.role %></td>
          <td>
            <% if(user.username !== sessionUsername){ %>
            <a href="/users/delete/<%= user.username %>"
              ><i class="fa-solid fa-trash me-2"></i
            ></a>
            <%}%>
            
            <form style="display: inline;" action="/users/role/change" method="post">
              <input type="hidden" name="username" value="<%= user.username%>"/>
              <% 
              if (user.role === "admin"){
              %>
              <input type="hidden" name="role" value="user" />
              <button type="submit" class="clear">
                <i class="fa-solid fa-user"></i>
              </button> 
              <%} else {%>
              <input type="hidden" name="role" value="admin" />
              <button type="submit" class="clear">
                <i type="submit" class="fa-solid fa-user-gear"></i>
              </button>
              <%}%>
            </form>
          </td>
        </tr>
        <% }) %> <% } else {%>
        <tr>
          <td class="text-center" colspan="9">Users are empty.</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </section>
</section>

<%- include('../layouts/script.ejs'); -%>
