<%- include('../../layouts/header.ejs'); -%>

<section class="text-center">
  <h3 class="my-4 fw-semibold">Edit Profile</h3>
</section>

<section class="container d-flex justify-content-center">
  <form class="w-50" action="/users/edit/<%=username%>" method="post">
    <div class="mb-3">
      <label for="">Full Name</label>
      <input
        value="<%=detail.name%>"
        type="text"
        class="form-control"
        name="name"
        placeholder="Insert Name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="">Position</label>
      <input
        value="<%=detail.profile.position%>"
        type="text"
        class="form-control"
        name="position"
        placeholder="Insert Position"
        required
      />
    </div>
    <div class="mb-3">
      <label for="">Phone</label>
      <input
        value="<%=detail.profile.phone%>"
        type="number"
        class="form-control"
        name="phone"
        placeholder="Insert Phone"
        required
      />
    </div>
    <div class="mb-3">
      <label for="">Email</label>
      <input
        value="<%=detail.profile.email%>"
        type="email"
        class="form-control"
        name="email"
        placeholder="Insert Email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="">Address</label>
      <input
        value="<%=detail.profile.address%>"
        type="text"
        class="form-control"
        name="address"
        placeholder="Insert Address"
        required
      />
    </div>
    <div class="mb-3 text-center">
      <input class="btn btn-dark" type="submit" value="Update" />
    </div>
  </form>
</section>

<%- include('../../layouts/script.ejs'); -%>
