<%- include('../../layouts/header.ejs'); -%>

<section class="message">
  <% if(message.length > 0) { %>
  <div class="alert alert-success"><%= message %></div>
  <% } %> <% if(error.length > 0) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %>
</section>

<section class="">
  <div class="container px-4 pt-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 80px"
              />
              <h5><%=detail.username%></h5>
              <p><%=detail.profile.position%></p>
              <%if (username === detail.username) {%>
              <a href="/users/edit/<%=username%>"
                ><i class="fas fa-edit"></i
              ></a>
              <a href="/users/password/edit/<%=username%>"
                ><i class="fas fa-key ms-2 mb-5"></i
              ></a>
              <%}%>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Full Name</h6>
                    <p class="text-muted"><%=detail.name%></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted"><%=detail.profile.phone%></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted"><%=detail.profile.email%></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Address</h6>
                    <p class="text-muted"><%=detail.profile.address%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if (role === "user") { %>
<section class="text-center mt-4 mb-4">
  <h2 class="fw-semibold">Note List</h2>
</section>

<section class="section-notes-table container" id="notes">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8 mb-2 ms-3">
      <a class="btn btn-dark btn-create-custom" href="\notes\add"
        >Create Note</a
      >
    </div>
    <%if (!notes.length) {%>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="card-note card mb-4 mx-2">
        <div class="card-body px-3">
          <div
            class="d-flex justify-content-center users-section fw-semibold mb-1"
          >
            <div class="note-title-date">
              <div class="fw-lighter">Notes are empty!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %> <% notes.forEach(note => { %>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="card-note card mb-4 mx-2">
        <div class="card-body px-3">
          <div
            class="d-flex justify-content-between users-section fw-semibold mb-1"
          >
            <div class="note-title-date">
              <span class="fw-semibold"><%=note.project.name%> </span>
              <span class="fw-lighter">
                - <%=note.createdAt.getDate()%>
                <%=note.createdAt.toLocaleString('default', {month: 'long'});%>
                <%=note.createdAt.getFullYear()%></span
              >
            </div>
            <span class=""
              ><a href="\notes\delete\<%=note.id%>"
                ><i class="fa-solid fa-xmark" style="color: #f4f5f7"></i></a
            ></span>
          </div>
          <p class="card-text fw-light"><%=note.text%></p>
          <%if (note.imageType) { %>
          <img
            class="card-img border-secondary rounded"
            src="data:<%=note.imageType%>;base64, <%=note.imageData%>"
            alt="image"
          />
          <%}%>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<% } %> <%- include('../../layouts/script.ejs'); -%>
